---
import { t } from 'i18next'
import AwardsImg from '../../../img/awards-logos.png'
import { Image } from 'astro:assets'
---

<section id="about-us-pie" class="min-h-screen bg-white">
	<div class="container-screen h-screen py-8 md:py-0">
		<div class="flex h-full flex-col items-center justify-center md:flex-row md:justify-evenly">
			<div class="content md:basis-1/2">
				<h4 class="xltext-2xl mb-4 text-xl md:mb-6">{t('landing.aboutUsPie.intro')}</h4>
				<h3 class="mb-5 text-4xl font-bold md:mb-6 xl:w-3/4 xl:text-5xl">
					{t('landing.aboutUsPie.title')}
				</h3>
				<p class="text-base md:text-xl">
					{t('landing.aboutUsPie.subtitle')}
				</p>
			</div>
			<div class="lg:basis-1/2">
				<div class="img-container">
					<Image
						widths={[240, 540, 720, AwardsImg.width]}
						sizes={`(max-width: 360px) 335px, (max-width: 720px) 400px, (max-width: 1440px)${AwardsImg.width}px`}
						src={AwardsImg}
						alt="awards logos"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	@media (max-height: 480px) {
		.container-screen {
			height: auto;
		}
		.container-screen > div {
			height: auto;
			padding: 64px;
		}
	}
	@media (min-width: 480px) and (max-width: 1600px) and (max-height: 900px) {
		.container {
			max-width: none;
			padding-left: 6rem;
			padding-right: 6rem;
		}

		.content {
			padding: 0.5rem;
		}
	}
</style>
