---
import CustomSlider from '@components/organisms/slider/CustomSlider.astro'
import AccesoryDisplay from '../../../components/molecules/AccesoryDisplay.astro'
import AccesoryBg1 from '../../../img/accesories1.png'
import AccesoryBg2 from '../../../img/accesories2.png'
import AccesoryBg3 from '../../../img/accesories3.png'
import AccesoryBg4 from '../../../img/accesories4.png'
import IndexElements from '@components/organisms/slider/IndexElements.astro'
import SliderComponent from './SliderComponent.astro'
import SliderElements from '@components/organisms/slider/SliderElements.astro'

const accesoriesData = [
	{
		badge: 'landing.accesories.slide1.badge',
		featureTitle: 'landing.accesories.slide1.featureTitle',
		description: 'landing.accesories.slide1.description',
		asterix: 'landing.accesories.slide1.asterix',
		image: AccesoryBg1,
		direction: 'left'
	},
	{
		badge: 'landing.accesories.slide2.badge',
		featureTitle: 'landing.accesories.slide2.featureTitle',
		description: 'landing.accesories.slide2.description',
		asterix: null,
		image: AccesoryBg2,
		direction: 'left'
	},
	{
		badge: 'landing.accesories.slide3.badge',
		featureTitle: 'landing.accesories.slide3.featureTitle',
		description: 'landing.accesories.slide3.description',
		asterix: 'landing.accesories.slide3.asterix',
		image: AccesoryBg3,
		direction: 'right'
	},
	{
		badge: null,
		featureTitle: 'landing.accesories.slide4.featureTitle',
		description: 'landing.accesories.slide4.description',
		asterix: null,
		image: AccesoryBg4,
		direction: 'right'
	}
]

const id = 'accesories-slider'
---

<section id="accesories" class="h-screen bg-white">
	<CustomSlider
		id={id}
		lengthElements={accesoriesData.length}
		delay={8000}
		customSliderContainerClass="px-6 top-5"
	>
		<SliderElements id={id} isBackground={true}>
			{accesoriesData.map((accesoryProps) => <AccesoryDisplay {...accesoryProps} />)}
		</SliderElements>
	</CustomSlider>
</section>
