---
import { t } from 'i18next'
---

<section class="min-h-screen bg-white" id="repairability">
	<div
		class="md:container-screen flex flex-wrap items-start justify-between pb-14 pt-16 md:pb-28 md:pt-32 xl:pt-48"
	>
		<div class="container-screen md:px-auto mb-24 px-16 sm:px-20 md:px-0 lg:mb-0 lg:w-1/2">
			<div>
				<h3 class="repairability-title text-2xl font-semibold text-black opacity-0 md:text-4xl">
					{t('landing.repairability.title')}
				</h3>
			</div>
			<div class="mt-5 md:mt-4">
				<p
					class="repairability-description text-left text-2xl opacity-0 md:max-w-[450px] lg:max-w-[345px]"
				>
					{t('landing.repairability.description')}
				</p>
			</div>
			<div class="repairability-arrow flex h-40 items-center opacity-0">
				<img src="/assets/icons/arrow.svg" alt="arrow" loading="lazy" />
			</div>
			<div class="flex-start flex flex-wrap gap-4">
				<button
					class="w-full bg-black px-4 py-4 text-[10.38px] font-semibold text-white md:w-[165px] lg:px-0"
				>
					{t('landing.repairability.downloadButton1')}
				</button>
				<button
					class="w-full bg-black px-4 py-4 text-[10.38px] font-semibold text-white md:w-[165px] lg:px-0"
				>
					{t('landing.repairability.downloadButton2')}
				</button>
			</div>
		</div>
		<div class="w-full px-4 lg:w-1/2">
			<div class="content mx-auto w-full bg-[#EEEEEE] p-2">
				<iframe
					id="youtube-frame"
					width="702"
					height="445"
					class="w-full object-cover shadow-inner"
					src="https://www.youtube.com/embed/zYY06lJ5Usw?si=0ZGGTuTWHuqJIa5&autoplay=1"
					title="Repairability video"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					srcdoc="
						<style>
							*{padding:0;margin:0;overflow:hidden}
							html,body{height:100%}
							img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto;object-fit:cover;height:100%;object-position:center;}
						</style>
						<a href=https://www.youtube.com/embed/zYY06lJ5Usw?si=0ZGGTuTWHuqJIa5&autoplay=1>
							<img src=/assets/imgs/poster-video-repairability.jpg loading=lazy alt='BK Video Repairability tutorial'>
						</a>"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<style>
	@media (min-width: 480px) and (max-width: 1600px) and (max-height: 900px) {
		.container {
			max-width: none;
			padding-left: 6rem;
			padding-right: 6rem;
		}
	}
</style>
