---
import { t } from 'i18next'
import { Trans } from 'astro-i18next/components'

import { getImage } from 'astro:assets'
import smartUseBg from '../../../img/smart-use-bg.png'
import ImageBackground from '../../../components/template/ImageBackground.astro'

const optimizedBackground = await getImage({ src: smartUseBg, format: 'webp' })
---

<section id="smart-use" class="relative min-h-screen overflow-hidden">
	<ImageBackground desktpBg={optimizedBackground} id="smart-use-bg">
		<div class="container-screen relative pt-20 md:pt-32 xl:pb-40 xl:pt-48">
			<div class="smart-title-box opacity-0">
				<div class="mb-4 text-base uppercase text-white lg:text-xl">
					{t('landing.smartUse.badge')}
				</div>
				<h2 class="w-full text-left text-5xl font-bold text-white">
					<Trans i18nKey="landing.smartUse.title">
						Smart use <br /> of materials
					</Trans>
				</h2>
			</div>
			<div class="feature-smart-1 mt-10 lg:mt-20 xl:mt-24">
				<h3 class="animated-subtitle mb-2 w-full text-left text-mid font-bold text-white">
					{t('landing.smartUse.feature1')}
				</h3>
				<p class="text-lg font-thin text-white">
					{t('landing.smartUse.feature1Description')}
				</p>
			</div>
			<div class="feature-smart-2 absolute">
				<div class="ml-auto">
					<h3 class="mb-2 text-left text-mid font-bold text-white">
						{t('landing.smartUse.feature2')}
					</h3>
					<p class="text-lg font-thin text-white">
						<Trans i18nKey="landing.smartUse.feature2Description">
							More Efficient to Withstand <br />
							Concentrated Loads of Ties and Joints
						</Trans>
					</p>
				</div>
			</div>
		</div>
		<!-- LEFT ZOOM -->
		<div
			class="position-zoom-2 absolute right-0 top-0 flex h-full w-1/2 items-center justify-center"
		>
			<div class="absolute left-20 top-[50%] xl:left-[14%]">
				<!-- CIRCLE -->
				<div class="zoom2 relative h-8 w-8 rounded-full border-2 bg-white bg-opacity-20 opacity-0">
					<!-- BIND -->
					<div
						class="bind-zoom2 absolute right-1/2 top-full border-b-2 border-r-2 border-white sm:border-b-0 sm:border-t-2 md:left-full md:top-1/2"
					>
					</div>
				</div>
			</div>
		</div>

		<!-- RIGHT ZOOM -->
		<div class="position-zoom-1 justify- absolute left-0 top-0 flex h-full w-1/2 items-center">
			<div class="absolute left-[74%] top-[70%] sm:left-[80%] xl:top-[76%]">
				<!-- CIRCLE -->
				<div class="zoom1 relative h-8 w-8 rounded-full border-2 bg-white bg-opacity-20 opacity-0">
					<!-- BIND -->
					<div
						class="bind-zoom1 absolute bottom-full left-1/2 border-b-2 border-l-2 border-white md:bottom-1/2 md:left-auto md:right-full"
					>
					</div>
				</div>
			</div>
		</div>
	</ImageBackground>
</section>
<style>
	/* HORIZONTAL */
	@media (max-height: 480px) {
		.smart-title-box h1 {
			font-size: 2rem;
		}

		.feature-smart-1 h3,
		.feature-smart-2 h3 {
			font-size: 1.3rem;
		}

		.feature-smart-1 p,
		.feature-smart-2 p {
			font-size: 1rem;
		}

		.zoom1,
		.zoom2 {
			height: 95px;
			width: 95px;
		}

		.bind-zoom1,
		.bind-zoom2 {
			visibility: hidden;
		}
	}

	@media (min-width: 768px) {
		.feature-smart-2 {
			right: 5%;
			bottom: 8%;
		}
	}

	@media (min-width: 1440px) {
		.feature-smart-2 {
			right: 14%;
			bottom: 12%;
		}
	}

	@media (min-width: 1700px) {
		.feature-smart-2 {
			right: 18%;
			bottom: 14%;
		}
	}

	@media (min-width: 481px) and (max-width: 1440px) and (max-height: 740px) {
		.feature-smart-2 {
			right: 2%;
		}
	}

	/* MOBILE */

	@media (min-width: 480px) and (max-width: 767px) {
		.feature-smart-2 {
			right: 0%;
			bottom: 2rem;
		}
	}

	@media (min-width: 391px) and (max-width: 480px) {
		.feature-smart-2 {
			left: 5%;
			bottom: 2rem;
		}
	}

	@media (max-width: 390px) {
		.feature-smart-1 {
			margin-top: 1rem;
		}

		.feature-smart-2 {
			left: 5%;
			bottom: 2rem;
		}
	}

	@media (max-height: 770px) {
		.container-screen {
			padding-top: 3.5rem !important;
		}
	}
</style>
