---
import { t } from 'i18next'

const statsData = [
	{
		kpiValue: '100',
		kpiLabel: ['landing.stats.item1']
	},
	{
		kpiValue: '5.500.000',
		kpiLabel: ['landing.stats.item2']
	},
	{
		kpiValue: '0',
		kpiLabel: ['landing.stats.item31', 'landing.stats.item32']
	}
]
---

<section class="h-[60vh] bg-black lg:h-[520px]" id="stats">
	<div
		class="container mx-auto flex h-full flex-col items-start justify-center gap-8 px-16 md:gap-16"
	>
		<span class="mb-2 block w-4 border-2 border-white md:w-10"></span>
		<div class="kpi flex w-full flex-wrap items-start justify-evenly">
			{
				statsData.map((stat, index) => (
					<div class="table-cell-stat1 p-4  align-top text-white">
						<span class="flex items-center justify-center gap-2 text-center text-3xl font-bold md:text-5xl">
							<p>+</p> <p id={`${index}-kpi-stat`}>{stat.kpiValue}</p>
						</span>
						{stat.kpiLabel.map((p) => (
							<p class="text-center text-xl md:text-2xl">{t(p)}</p>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
<style>
	@media (max-width: 1600px) and (max-height: 900px) {
		.container {
			max-width: none;
			padding-left: 6rem;
			padding-right: 6rem;
		}
	}
</style>
