---
import { t } from 'i18next'

const statsData = [
	{
		kpiValue: '+150',
		kpiLabel: ['landing.stats.item1']
	},
	{
		kpiValue: '+6.000.000',
		kpiLabel: ['landing.stats.item2']
	},
	{
		kpiValue: '+20',
		kpiLabel: ['landing.stats.item31', 'landing.stats.item32']
	}
]
---

<section class="h-[60vh] bg-black lg:h-[520px]" id="stats">
	<div
		class="container mx-auto flex h-full flex-col items-start justify-center gap-8 px-16 md:gap-16"
	>
		<span class="mb-2 block w-4 border-2 border-white md:w-10"></span>
		<div class="kpi flex w-full flex-wrap items-start justify-evenly">
			{
				statsData.map((stat) => (
					<div class="table-cell p-4  align-top text-white">
						<p class="text-center text-3xl font-bold md:text-5xl">{stat.kpiValue}</p>
						{stat.kpiLabel.map((p) => (
							<p class="text-center text-xl md:text-2xl">{t(p)}</p>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
