---
import { t } from 'i18next'

import { getImage } from 'astro:assets'
import bgStats2 from '../../../img/bg-stats-2.jpg'
import ImageBackground from '../../../components/template/ImageBackground.astro'

const optimizedBackground = await getImage({ src: bgStats2, format: 'webp' })

const statsData = [
	{
		kpiValue: '6.000.000',
		kpiLabel: ['landing.stats2.item1']
	},
	{
		kpiValue: '66.000 Kg',
		kpiLabel: 'landing.stats2.item2'
	}
]
---

<section id="stats2" class="relative h-screen overflow-hidden lg:h-[642px]">
	<ImageBackground desktpBg={optimizedBackground}>
		<div
			class="container relative z-20 mx-auto flex h-full flex-col items-start justify-center gap-8 px-8 py-16 md:gap-16 md:p-16"
		>
			<span class="mb-2 block w-10 border-2 border-white"></span>
			<div
				class="kpi flex w-full flex-wrap items-center justify-center gap-16 md:items-start md:justify-evenly md:gap-0"
			>
				{
					statsData.map((stat, index) => (
						<div class={`table-cell-stat2 p-4 align-top`}>
							<span
								class={`flex items-center justify-center gap-2 text-center text-3xl font-bold md:text-5xl ${index === 1 ? 'text-[#CCEB52]' : 'text-white'}`}
							>
								<p>+</p> <p id={`${index}-kpi-stat2`}>{stat.kpiValue}</p>
							</span>
							<p class="text-center text-xl text-white md:text-2xl">{t(stat.kpiLabel)}</p>
						</div>
					))
				}
			</div>
			<div class="mt-8">
				<p class="text-lg text-grey md:text-2xl">
					{t('landing.stats2.bottomLine')}
				</p>
			</div>
		</div>
	</ImageBackground>
</section>
<style>
	@media (min-width: 480px) and (max-width: 1600px) and (max-height: 900px) {
		.container {
			max-width: none;
			padding-left: 6rem;
			padding-right: 6rem;
		}
	}
</style>
