---
import { t } from 'i18next'

const statsData = [
	{
		placeholder: 0,
		kpiValue: '100',
		kpiLabel: ['landing.stats.item1']
	},
	{
		placeholder: 0,
		kpiValue: '600000',
		kpiLabel: ['landing.stats.item2']
	},
	{
		placeholder: 0,
		kpiValue: '150',
		kpiLabel: ['landing.stats.item31', 'landing.stats.item32']
	}
]
---

<section class="h-screen bg-black lg:h-[520px]" id="stats">
	<div class="container-screen flex h-full flex-col items-start justify-center gap-16 md:gap-16">
		<span class="mb-2 block w-10 border-2 border-white"></span>
		<div
			class="kpi flex w-full flex-wrap items-center justify-center gap-16 md:items-start md:justify-evenly md:gap-0"
		>
			{
				statsData.map((stat, index) => {
					return (
						<div class="table-cell-stat1 align-top  text-white md:p-4">
							<span class="flex items-center justify-center gap-2 text-center text-5xl font-bold">
								<p>+</p>{' '}
								<p id={`${index}-kpi-stat`} class="kpi-stat1" data-kpi={stat.kpiValue}>
									{stat.placeholder}
								</p>
							</span>
							{stat.kpiLabel.map((p) => (
								<p class="text-center text-2xl leading-6">{t(p)}</p>
							))}
						</div>
					)
				})
			}
		</div>
	</div>
</section>
<style>
	@media (max-height: 480px) {
		.container-screen {
			margin-top: 3.5rem;
			flex-direction: column;
		}

		.kpi {
			justify-content: space-between;
			align-items: center;
		}

		.table-cell-stat1 span {
			font-size: 3rem;
		}

		.table-cell-stat1 p,
		.table-cell-stat1 div {
			font-size: 1.2rem;
		}
	}
	@media (min-width: 480px) and (max-width: 1600px) and (max-height: 900px) {
		.container {
			max-width: none;
			padding-left: 6rem;
			padding-right: 6rem;
		}
	}
</style>
