---
import IndexElements from '@components/organisms/slider/IndexElements.astro'

const { models, id } = Astro.props
---

<IndexElements
	id={id}
	customClass="h-[55px] px-4 justify-between sm:justify-center z-40 gap-4 md:px-8"
>
	{
		models.map((model, index) => {
			return (
				<div
					class={`item-model relative flex h-[54px] w-[79px] cursor-pointer flex-col items-center justify-center text-lg transition-all duration-300 ease-in  md:h-[85px] md:w-[123px] md:text-xl`}
				>
					<p class="item-data font-mid relative">{model}</p>
					{index !== models.length - 1 && (
						<span class="spacer absolute -right-2 top-1/2 h-4 w-[1px] -translate-y-1/2 bg-black" />
					)}
				</div>
			)
		})
	}
</IndexElements>
<style>
	/* INDEX BOX MODEL */
	.item-index-active:before {
		content: '';
		position: absolute;
		inset: 0;
		background: #fff;
		overflow: hidden;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 100%,
			20px 100%,
			0 calc(100% - 20px),
			0 0,
			1px 1px,
			1px calc(100% - 20px - 0.41px),
			calc(20px + 0.41px) calc(100% - 1px),
			calc(100% - 1px) calc(100% - 1px),
			calc(100% - 1px) 1px,
			1px 1px
		);
	}

	.item-index-active:after {
		content: '';
		position: absolute;
		inset: 0;
		background: rgba(255, 255, 255, 0.2);
		--mask: linear-gradient(45deg, #0000 14.28px, #000 0);
		-webkit-mask: var(--mask);
		mask: var(--mask);
		mask: var(--mask);
		transition: all ease-in 300ms;
	}

	.item-index-active {
		font-weight: bold;
	}

	@media (max-width: 768px) {
		.item-index-active:before {
			content: '';
			position: absolute;
			inset: 0;
			background: #fff;
			overflow: hidden;
			clip-path: polygon(
				0 0,
				100% 0,
				100% 100%,
				14px 100%,
				0 calc(100% - 14px),
				0 0,
				1px 1px,
				1px calc(100% - 14px - 0.41px),
				calc(14px + 0.41px) calc(100% - 1px),
				calc(100% - 1px) calc(100% - 1px),
				calc(100% - 1px) 1px,
				1px 1px
			);
		}

		.item-index-active:after {
			content: '';
			position: absolute;
			inset: 0;
			background: rgba(255, 255, 255, 0.2);
			--mask: linear-gradient(45deg, #0000 11.28px, #000 0);
			-webkit-mask: var(--mask);
			mask: var(--mask);
			mask: var(--mask);
			transition: all ease-in 300ms;
		}

		.item-index-active {
			font-weight: bold;
		}
	}

	/* LANDSCAPE */
	@media (max-height: 480px) {
		.title-lineup {
			padding-top: 1rem !important;
		}
	}
</style>
