---

---

<footer id="footer" class="min-h-[50vh] bg-black text-lightGrey">
	<div class="container mx-auto max-w-[830px] bg-black pt-32">
		<div class="cta">
			<h6 class="text-center text-base font-semibold lg:text-2xl">
				For more information, click on the link below.
			</h6>
			<div class="flex justify-center py-8 md:py-16">
				<button class="rounded-xl bg-white px-8 py-4 text-sm font-bold text-black">
					MORE INFO
				</button>
			</div>
		</div>
		<div class="info p-4">
			<p class="mx-auto text-justify text-base lg:text-2xl">
				BK Comp is a company that develops and manufactures advanced composite products for the
				agribusiness, combining design and Know How in different technologies aiming to increase the
				efficiency and productivity of the sector.
			</p>
		</div>
		<div class="info mt-20 flex flex-wrap items-start justify-between px-8 lg:px-0">
			<div class="info-col shrink-0 lg:basis-1/2">
				<span class="mb-2 block w-10 border-[0.5px] border-greyOpaque"></span>
				<h6 class="text-lg text-greyOpaque lg:text-2xl">SALES</h6>
				<div class="country py-2 md:py-4">
					<p class="py-2 text-lg text-white md:py-4 lg:text-2xl">
						<strong> ARGENTINA / EUROPE </strong>
					</p>
					<p class="text-sm text-grey">sales@bk-comp.com</p>
				</div>
				<div class="country py-2 md:py-4">
					<p class="py-2 text-lg text-white md:py-4 lg:text-2xl">
						<strong> BRAZIL</strong>
					</p>
					<p class="text-sm text-grey">michael.s@bk-comp.com</p>
				</div>
				<div class="country py-2 md:py-4">
					<p class="py-2 text-lg text-white md:py-4 lg:text-2xl">
						<strong> AUSTRALIA</strong>
					</p>
					<p class="text-sm text-grey">marty@westernmechanicalqld.com.au</p>
				</div>
			</div>
			<div
				class="info-col mt-8 flex h-full flex-col items-baseline justify-between md:mt-0 lg:basis-1/2"
			>
				<div class="company mb-12 md:mb-24">
					<span class="mb-2 block w-10 border-[0.5px] border-greyOpaque"></span>
					<h6 class="mb-4 text-lg text-greyOpaque lg:text-2xl">BK COMP</h6>
					<div class="py-4">
						<p class="text-sm text-grey">
							Parque industrial y Logístico Panamericana KM29 Unidad E, APQ El Talar de Pacheco
							Buenos Aires AR, 9 de Julio 350 lote 18.(+54) 11 4064 1911
						</p>
					</div>
				</div>
				<div class="media mt-auto">
					<h6 class="mb-4 text-lg text-lightGrey md:text-xl">Follow us</h6>
					<span class="mb-10 block w-16 border-[0.5px] border-grey"></span>
					<div class="icons flex gap-12">
						<a href="/" target="_blank" rel="noreferrer">
							<img src="/assets/icons/linkedin.svg" alt="linkedin icon" />
						</a>
						<a href="/" target="_blank" rel="noreferrer">
							<img src="/assets/icons/instagram.svg" alt="instagram icon" />
						</a>
						<a href="/" target="_blank" rel="noreferrer">
							<img src="/assets/icons/youtube.svg" alt="youtube icon" />
						</a>
					</div>
				</div>
			</div>
		</div>
		<div
			class="flex w-full items-center justify-between px-8 py-10 md:justify-start md:py-20 lg:px-0"
		>
			<p class="text-sm text-grey md:w-1/2">© 2024 BK-Comp. All Rights Reserved.</p>
			<a href="#hero">
				<img src="/assets/icons/arrow-up.svg" alt="linkedin icon" />
			</a>
		</div>
	</div>
</footer>
