---
import Nav from '../molecules/Nav.astro'
import Logo from '../../img/logo-bk.png'
import { Image } from 'astro:assets'
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
const links = [
	{
		label: 'landing.nav.home',
		to: '/'
	},
	{
		label: 'landing.nav.aboutUs',
		to: '#about-us-pie'
	},
	{
		label: 'landing.nav.benefits',
		to: '#benefits'
	},
	{
		label: 'landing.nav.products',
		to: '#products-line-up'
	},
	{
		label: 'landing.nav.accesories',
		to: '#accesories'
	},
	{
		label: 'landing.nav.contact',
		to: '#footer'
	}
]
---

<header class="fixed inset-0 z-50 h-[60px]">
	<div class="header-wrapper container-screen flex items-baseline justify-between overflow-visible">
		<Image
			src={Logo}
			width={200}
			height={150}
			alt="Logo BK"
			class="md:mr-full relative top-0 h-16 w-24 md:h-auto md:w-auto"
		/>
		<Nav links={links} />

		<!-- Hamburguer Icon -->
		<button
			id="menu-btn"
			aria-label="hamburguer menu"
			class="hamburguer relative z-[60] ml-auto mt-2 block self-center focus:outline-none lg:hidden"
		>
			<span class="hamburguer-top"></span>
			<span class="hamburguer-middle"></span>
			<span class="hamburguer-bottom"></span>
		</button>

		<!-- Overlay -->
		<div
			id="floating-menu"
			class="invisible absolute inset-0 z-50 flex h-screen w-full overflow-hidden bg-black p-4 opacity-0 transition-all duration-200 ease-in
		lg:hidden"
		>
			<nav class="flex w-full items-center justify-between">
				<LanguageSelector
					languageMapping={{ en: 'EN', pt: 'PT' }}
					id="lang-selector"
					class="mb-auto cursor-pointer bg-transparent text-2xl text-white hover:font-semibold"
				/>
				<ul>
					{
						links.map((link) => {
							return (
								<li class="my-6 text-right">
									<a
										href={link.to}
										class="landing-link-mobile p-4 text-[34px] font-normal text-white max-[1140px]:p-2"
									>
										{t(link.label)}
									</a>
								</li>
							)
						})
					}
				</ul>
			</nav>25b09b
		</div>
	</div>
</header>
<style>
	@media (max-height: 480px) {
		nav {
			justify-content: space-evenly;
		}

		li {
			margin: 8px 0;
		}
	}

	@media (max-width: 976px) {
		.hamburguer {
			cursor: pointer;
			width: 30px;
			height: 20px;
			transition: all 0.25s;
			position: relative;
		}

		.hamburguer-top,
		.hamburguer-middle,
		.hamburguer-bottom {
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: #fff;
			border-radiush-svh: 8px;
			transition: all 0.25s;
		}

		.hamburguer-middle {
			transform: translateY(8px);
		}

		.hamburguer-bottom {
			transform: translateY(16px);
		}

		.open {
			transform: rotate(90deg);
			transform: translateY(0px);
		}

		.open .hamburguer-top {
			transform: rotate(45deg) translateY(6px) translate(6px);
		}

		.open .hamburguer-middle {
			display: none;
		}

		.open .hamburguer-bottom {
			transform: rotate(-45deg) translateY(6px) translate(-6px);
		}
	}
</style>
<script>
	const btn = document.getElementById('menu-btn')
	const nav = document.getElementById('floating-menu')
	const links = document.querySelectorAll('.landing-link-mobile')

	function toggleMenu() {
		btn.classList.toggle('open')
		nav.classList.toggle('opacity-0')
		nav.classList.toggle('opacity-80')
		nav.classList.toggle('invisible')
		nav.classList.toggle('visible')
	}

	btn.addEventListener('click', () => {
		toggleMenu()
	})

	links.forEach((link) => {
		link.addEventListener('click', () => {
			toggleMenu()
		})
	})

	const blurredImagesDivs = document.querySelectorAll('.blurred-img')

	function loaded(i) {
		blurredImagesDivs?.[i].classList.add('loaded')
	}

	blurredImagesDivs.forEach((blr, idx) => {
		const img = blr.querySelector('img')

		if (img.complete) {
			loaded(idx)
		} else {
			img.addEventListener('load', () => loaded(idx))
		}
	})
</script>
