---
const { mobileBg, desktpBg, extraclass } = Astro.props
---

<div class={`h-full ${extraclass}`}>
	<div class="absolute h-full w-full">
		<img {...desktpBg} alt="background" class="h-full w-full object-cover" loading="lazy" />
	</div>

	<slot />
</div>
