---
const { desktpBg, extraclass, extraClassImg = 'object-cover', id } = Astro.props
---

<div class={`h-full`}>
	<div class={`absolute h-full w-full ${extraclass}`}>
		<img
			{...desktpBg}
			id={id}
			alt="background"
			class={`h-full w-full ${extraClassImg}`}
			loading="lazy"
		/>
	</div>

	<slot />
</div>
