---
import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import Header from '../organisms/Header.astro'
import Footer from '../organisms/Footer.astro'
const links = [
	{
		label: 'landing.nav.home',
		to: '/'
	},
	{
		label: 'landing.nav.aboutUs',
		to: '/'
	},
	{
		label: 'landing.nav.benefits',
		to: '/'
	},
	{
		label: 'landing.nav.products',
		to: '/'
	},
	{
		label: 'landing.nav.accesories',
		to: '/'
	},
	{
		label: 'landing.nav.contact',
		to: '/'
	}
]
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content="{Astro.generator}" />
		<meta
			name="description"
			content="BK. Company innovating in Agriculture Technology. Lightweight Sprayer Booms to boost efficiency."
		/>

		<link rel="stylesheet" href="../../../src/index.css" />
		<link rel="stylesheet" href="../../../src/stylesheet.css" />
		<link
			rel="preload"
			href="/fonts/Neo Sans Std Regular.otf"
			as="font"
			type="font/otf"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/Neo Sans Std Medium.otf"
			as="font"
			type="font/otf"
			crossorigin
		/>
		<title>BK</title>
		<HeadHrefLangs />
		<script>
			// import function to register Swiper custom elements
			import { register } from 'swiper/element/bundle'
			// register Swiper custom elements
			register()
		</script>
	</head>

	<body class="font-neoSans">
		<Header />
		<slot />
		<Footer />
		<script is:inline src="https://unpkg.com/@studio-freight/lenis@1.0.32/dist/lenis.min.js"
		></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
		></script>
		<script src="../../scripts/gsap.js"></script>
	</body>
</html>
