---
const { mobileBg = null, desktpBg, isBlur = false, extraClassIm } = Astro.props
---

<div class={`h-full`}>
	<div class={`absolute h-full w-full`}>
		<div class="mask w-full md:h-full">
			{
				mobileBg && (
					<img
						{...mobileBg}
						alt="background"
						class={`mobile-img m-0 w-full object-contain md:hidden ${isBlur ? 'blur-sm' : ''}`}
						loading="lazy"
					/>
				)
			}
			<img
				{...desktpBg}
				alt="background"
				class={`background-img h-full w-full -top-16 relative md:object-cover md:top-auto md:object-bottom  ${isBlur ? 'blur-sm' : ''}`}
				loading="lazy"
			/>
		</div>
	</div>

	<slot />
</div>
<style>
	.mask {
		position: absolute;
	}
	.mask::after {
		content: '';
		position: absolute;
		height: 40%;
		bottom: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
		z-index: 0;
		width: 100%;
	}
	@media (max-width: 768px) {
		.mask {
			position: relative;
		}
		.mask::after {
			content: '';
			position: absolute;
			height: 10%;
			bottom: 4rem;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			z-index: 0;
			width: 100%;
		}
	}

	@media (min-width: 440px) and (max-width: 768px) and (max-height: 760px) {
		.background-img {
			top: -18rem;
		}

		.mask::after {
			height: 10%;
			bottom: 18rem;
		}
	}
	@media (max-width: 767px) and (min-height: 820px) {
		.background-img {
			top: 0px;
		}

		.mask {
			position: relative;
		}
		.mask::after {
			bottom: 0rem;
		}
	}

	/* LANDSCAPE */
	@media (max-height: 480px) {
		.mobile-img {
			display: none;
			visibility: hidden;
		}

		.mask::after {
			height: 10%;
			bottom: 0rem;
		}
	}
</style>
