

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
	.container-screen {
		@apply container mx-auto h-full px-5 sm:px-0 md:px-0 lg:px-12 xl:px-[7.4rem];
	}

	@media (max-height: 480px) {
		.container-screen {
			padding: 1rem;
			max-width: none;
		}
	}

	@media (min-width: 600px) and (max-width: 768px) {
		.container-screen {
			max-width: 768px;
			padding: 0 4rem;
		}
	}

	@media (min-width: 768px) and (max-width: 800px) {
		.container-screen {
			max-width: 720px;
		}
	}

	@media (min-width: 976px) and (max-width: 1150px) {
		.container-screen {
			max-width: none;
			padding: 0 5rem;
		}
	}


	@media (min-width: 1150px) and (max-width: 1440px) {
		.container-screen {
			max-width: none;
			padding: 0 8rem;
		}
	}

	
}