---
const { id, customClass, isBackground } = Astro.props
---

<div
	class:list={[
		{
			absolute: isBackground,
			relative: !isBackground,
			'w-full': isBackground,
			'h-full': isBackground,
			'inset-0': isBackground,
			block: !isBackground
		},
		customClass
	]}
	id={`${id}-elements-container`}
>
	<slot />
</div>
<style>
	@media (max-height: 480px) {
		#benefits-slider-elements-container {
			height: 56%;
		}
	}
</style>
